src/main/mule/sales-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:order-fulfillment-api="http://www.mulesoft.org/schema/mule/order-fulfillment-api" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/order-fulfillment-api http://www.mulesoft.org/schema/mule/order-fulfillment-api/current/mule-order-fulfillment-api.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd">
    <http:listener-config name="sales-api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="sales-api-config" raml="sales-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    
    <order-fulfillment-api:config name="Order_Fulfillment_API_Config" doc:name="Order Fulfillment API Config" 
    	doc:id="5fe39f7d-4017-44e9-adb8-be4bcb654948" 
    		property_protocol="${orderfulfillment-api.protocol}" 
    		property_client-id="${orderfulfillment-api.client_id}" 
    		property_client-secret="${orderfulfillment-api.client_secret}" property_host="${orderfulfillment-api.host}" property_port="${orderfulfillment-api.port}" property_basePath="${orderfulfillment-api.basePath}"/>
	
	<api-gateway:autodiscovery apiId="${api.id}" doc:name="API Autodiscovery" doc:id="25ef3dd1-ab4f-4096-ba30-e19677ab8d5e" flowRef="sales-api-main" />
	
	<configuration-properties doc:name="Configuration properties" doc:id="1015f7ed-0475-4db1-ac83-80a459a6de38" file="mule-app.properties" />
	<flow name="sales-api-main">
        <http:listener config-ref="sales-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="sales-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <logger level="INFO" doc:name="Logger" doc:id="3245d913-8491-4b9b-8b50-7ba0ddfb85a4" />
				<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="b53a8112-129a-44b5-b837-d5e9abc14b84">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[400]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="sales-api-console">
        <http:listener config-ref="sales-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="sales-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="post:\order:application\json:sales-api-config">
		<set-variable value="#[payload]" doc:name="Set Variable" doc:id="79f116bb-5303-498d-bc5f-2e58128142fb" variableName="OrderInfo"/>
		<logger level="INFO" doc:name="Logger" doc:id="6adb199f-578f-45c5-b0ad-1dd8de199799" message="received order request #[output application/json ---payload]" />
		<ee:transform doc:name="Transform Message" doc:id="f7195632-a4aa-4d9f-99d5-dc1ba7b5c9fc" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
[
	{
	shippingCost: (payload.shippingCost default 0),
	sourceSystem: payload.sourceSystem,
	payments: [],
	subTotal: (payload.subTotal default 0),
	orderItems: payload.OpportunityLineItems map ( opportunityLineItem , indexOfOpportunityLineItem ) -> {
		product: {
			id: opportunityLineItem.productCode default ""
		},
		quantity: {
			ordered: round(opportunityLineItem.quantity as Number)
		},
		sourceSystem: payload.sourceSystem,
		orderLine: opportunityLineItem.opportunityLine,
		location: {
			id: "0",
			"type": "no type"
		},
		pricing: {
			totalAmount: opportunityLineItem.pricing.totalAmount,
			itemAmount: opportunityLineItem.pricing.itemAmount,
			discountPct: 0.0
		}
	},
	totalAmount: (payload.totalAmount default 0),
	customerId: payload.CustomerID,
	currency: {
		code: "USD"
	},
	taxAmount: (payload.taxAmount default 0)
}
]
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="creating order request" doc:id="4101b67d-4a2c-4913-bc79-42159ca8b47e" message="creating order request #[output application/json ---payload]" />
		<order-fulfillment-api:post-orders doc:name="Post orders"
			 doc:id="4342117e-76ad-4353-836d-0fb6c7ba647e" config-ref="Order_Fulfillment_API_Config"/>
		<logger level="INFO" doc:name="order fulfillment response" doc:id="3ce9a751-6fc1-443d-a739-1e44ef644eb7" message="order fulfillment response #[output application/json ---payload]" />
		<ee:transform doc:name="Transform Message" doc:id="bafe61ce-1461-4fb2-a432-5743290e8fd5" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	metadata: {
		creationResult: "Created",
		message: "All Right"
	},
	response: {
		OpportunityId: vars.OrderInfo.Id,
		CustomerId: vars.OrderInfo.CustomerID,
		OrderId: payload.messages[0].itemId
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
</mule>
